
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Edit Employee</title>

    <!-- Icons font CSS-->
    <link href="/empregstf/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/empregstf/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/empregstf/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/empregstf/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/empregstf/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <a href="/employeedashboard" class="btn btn--radius btn--green">Back</a>
                    <a href="/dashboard" class="btn btn--radius btn--green">Home</a>
                    <h2 class="title">MK Employee Registration</h2>
                    <% include ./partials/messages %>
                    <form action="/empregistration/editemp/<%=aemployees.id %>" method="POST">
                        <div class="input-group">
                            <input class="input--style-1" type="name" placeholder="NAME" id="name" name="name"
                            value="<%= aemployees.name%>">
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1" type="emp_id" placeholder="Employee ID" id="emp_id" name="emp_id"
                                    value="<%= aemployees.emp_id%>">
                                </div>
                            </div>
                            <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select id="status" name="status" type="status"  >
                                        <option disabled="disabled" selected="selected" value="<%= aemployees.status%>">STATUS</option>
                                        <option>Active</option>
                                        <option>Released</option>
                                        <option>Resign</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <input class="input--style-1" id="grade" name="grade" type="grade" placeholder="GRADE"
                                        value="<%= aemployees.grade%>">
                                    </div>
                                </div>
                                <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select id="tower" name="tower" type="tower" >
                                            <option disabled="disabled" selected="selected" value="<%= aemployees.tower%>" >Tower</option>
                                            <option>Bangalore 6B</option>
                                            <option>Bangalore 5B</option>
                                            <option>DTP</option>
                                            <option>Capgemini EPIP</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <input class="input--style-1 js-datepicker" id="project_start" type="text" placeholder="PROJECT START" name="project_start"
                                            value="<%= aemployees.project_start%>">
                                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <input class="input--style-1 js-datepicker" id="project_end" type="text" placeholder="PROJECT END" name="project_end"
                                            value="<%= aemployees.project_end%>">
                                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                        </div>
                                        </div>
                                </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1 js-datepicker" id="hire_date" type="text" placeholder="HIRED ON" name="hire_date"
                                    value="<%= aemployees.hire_date%>">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                                <select id="service_line" name="service_line" type="service_line" >
                                                    <option disabled="disabled" selected="selected" value="<%= aemployees.service_line%>">SERVICE</option>
                                                    <option>Retail</option>
                                                    <option>Pos</option>
                                                    <option>Retail&Pos</option>
                                                    <option>Corporate</option>
                                                    <option>Monitoring</option>
                                                    <option>Others</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                                <input class="input--style-1" type="supervisor_name" placeholder="SUPERVISOR NAME" id="supervisor_name" name="supervisor_name"
                                value="<%= aemployees.supervisor_name%>">
                            </div>
                        <div class="input-group">
                                    <input class="input--style-1" type="subbu_name" placeholder="SUB BUSINESS NAME" id="subbu_name" name="subbu_name"
                                    value="<%= aemployees.subbu_name%>">
                        </div> 

                        <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <input class="input--style-1 js-datepicker" id="btStart_date" type="text" placeholder="BT STTARTED ON" name="btStart_date"
                                        value="<%= aemployees.btStart_date%>">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                    <select id="gender" name="gender" type="gender" >
                                                        <option disabled="disabled" selected="selected" value="<%= aemployees.gender%>">GENDER</option>
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                        <option>Others</option>
                                                    </select>
                                                    <div class="select-dropdown"></div>
                                                </div>
                                    </div>
                                </div>
                            </div>

                     <div class="input-group">
                                    <input class="input--style-1" type="capgemini_email" placeholder="CAPGEMINI EMAIL" id="capgemini_email" name="capgemini_email"
                                    value="<%= aemployees.capgemini_email%>">
                        </div>     
                        <div class="input-group">
                                <input class="input--style-1" type="email" placeholder="EMAIL" id="email" name="email"
                                value="<%= aemployees.email%>">
                    </div>     
                        
                            
                    <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1" type="contact" placeholder="CONTACT NUMBER" id="contact" name="contact"
                                    value="<%= aemployees.contact%>">
                                </div>
                            </div>
                            <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select id="city" name="city" type="city" >
                                        <option disabled="disabled" selected="selected" value="<%= aemployees.city%>">CITY</option>
                                        <option>Bangalore</option>
                                        <option>Mumbai</option>
                                        <option>Pune</option>
                                        <option>Hyderabad</option>
                                        <option>Kolkata</option>
                                        <option>Delhi</option>
                                        <option>Chennai</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="remarks" placeholder="Remarks" id="remarks" name="remarks"
                            value="<%= aemployees.remarks %>">
                </div> 
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="/empregstf/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/empregstf/vendor/select2/select2.min.js"></script>
    <script src="/empregstf/vendor/datepicker/moment.min.js"></script>
    <script src="/empregstf/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/empregstf/js/global.js"></script>

</body>

</html>
<!-- end document-->
